@use 'nerdy-lib/src/mixins' as mixins;

.card-container {
    display: flex;
    flex-wrap: wrap;

    @include mixins.mobile {
        justify-content: center;
    }
}

.footer {
    width: 100%;
    font-size: 0.6rem;
    color: var(--gray);
    text-align: center;

    a, a:hover, a:active {
        color: var(--gray);
        text-decoration: none;
    }
}